footer.py-4
  .container.d-flex.justify-content-between.align-items-center
    .footer__info.d-flex.align-items-center
      a(href="index.html")
        img(src="img/d’Perfumewhite.png", alt="logo-footer")
      p.copyright.ml-4 © 2020. All Rights Reserved.
    ul.footer__nav.d-flex.d-sm-none
      li.ml-8
        a(href="shop.html") Product
      li.ml-8
        a(href="#") Blog
      li.ml-8
        a(href="#") Contact