.container
  nav.navbar.d-flex.justify-content-between.align-items-center.my-3
    h1.ml-md-4
      a(href="index.html")
        img(src="img/d’Perfume.png", alt="logo-header")
    ul.nav.d-flex.align-items-center
      li.nav__item.ml-7.d-md-none.hover-underline-primary
        a.nav__link(href="shop.html")
          span.material-icons store
          span.nav__text.ml-1 Product
      li.nav__item.ml-7.d-md-none.hover-underline-primary
        a.nav__link(href="login.html")
          span.material-icons person
          span.nav__text.ml-1 #{login}
      li.nav__item.ml-7.d-md-none.hover-underline-primary
        a.nav__link(href="#")
          span.material-icons favorite
          span.nav__text.ml-1 Wishlist
      li.nav__item.ml-7.hover-underline-primary
        a.nav__link(href="#")
          span.material-icons shopping_cart
          span.nav__text.ml-1.d-md-none Cart(3)
          span.nav__num.d-none.d-md-block 3
      li.nav__item.ml-4.d-none.d-md-inlineBlock.hover-text-primary
        a.navbar__toggler(href="#")
          span.material-icons menu