.menu.bg-menu.d-sm-none
  .container.py-3
    ul.d-flex.ml-md-4
      li.menu__item
        a.menu__btn(href="#") CHANEL
      li.menu__item.ml-6
        a.menu__btn(href="#") Jo Malone
      li.menu__item.ml-6
        a.menu__btn(href="#") Curology
      li.menu__item.ml-6
        a.menu__btn(href="#") Dior
      li.menu__item.ml-6
        a.menu__btn(href="#") Chloe
      li.menu__item.ml-6
        a.menu__btn(href="#") ZARA