.menu.bg-menu.d-sm-none
  .container
    ul.d-flex.ml-md-4
      li.menu__item.hover-bg-secondary
        a.menu__btn.fz-5.text-white.py-3.px-3(href="#") CHANEL
      li.menu__item.hover-bg-secondary
        a.menu__btn.fz-5.text-white.py-3.px-3(href="#") Jo Malone
      li.menu__item.hover-bg-secondary
        a.menu__btn.fz-5.text-white.py-3.px-3(href="#") Curology
      li.menu__item.hover-bg-secondary
        a.menu__btn.fz-5.text-white.py-3.px-3(href="#") Dior
      li.menu__item.hover-bg-secondary
        a.menu__btn.fz-5.text-white.py-3.px-3(href="#") Chloe
      li.menu__item.hover-bg-secondary
        a.menu__btn.fz-5.text-white.py-3.px-3(href="#") ZARA