doctype html
html(lang="en")
  head
    include _head.pug
  body
    include _header-nav.pug
    block header-menu
    block content 
    block subscribe
    include _footer.pug
    include _script.pug

