.subscribe.bg.bg-subscribe
  .container.d-flex.flex-column.justify-content-end
    .subscribe__wrap.col-6.col-sm-12
      p.subscribe__info.mb-4 記得 
        br
        | 訂閱以獲取更多資訊！
      .input__group-text.d-flex.align-items-center 
        input(type="text" placeholder="Your email address")
        input.fw-medium.hover-bg-secondary(type="button", value="Subscribe")