.banner
  color: #fff
  +phone
    background-position: 10% center
  .container
    height: 100vh
    +pad
      justify-content: center

.salesInfo
  color: #fff
  position: absolute
  top: 252px
  left: 50%
  transform: translateX(-50%)
