.col-3
  width: ($col-lg * 3) + ($gap-lg * 2)

.col-4
  width: ($col-lg * 4) + ($gap-lg * 3)

.col-5
  width: ($col-lg * 5) + ($gap-lg * 4)

.col-6
  width: ($col-lg * 6) + ($gap-lg * 5)

.col-6h
  width: ($col-lg * 6) + ($gap-lg * 5.5)

.col-8
  width: ($col-lg * 8) + ($gap-lg * 7)

+pad
  .col-md-3-n
    width: ($col-lg * 3) + ($gap-lg * 1)
  .col-md-3
    width: ($col-lg * 3) + ($gap-lg * 2)
  .col-md-6h
    width: ($col-lg * 6) + ($gap-lg * 5.5)
  .col-md-8
    width: ($col-lg * 8) + ($gap-lg * 7)

+phone
  .col-sm-2
    width: ($col-sm * 2) + ($gap-sm * 1)
  .col-sm-3
    width: ($col-sm * 3) + ($gap-sm * 2)
  .col-sm-4
    width: ($col-sm * 4) + ($gap-sm * 3)
