.mt-1
  margin-top: $spacer-1

.ml-1
  margin-left: $spacer-1

.mx-2
  margin-left: $spacer-2
  margin-right: $spacer-2

.mr-2
  margin-right: $spacer-2

.mb-2
  margin-bottom: $spacer-2

.ml-2
  margin-left: $spacer-2

.my-3
  margin-top: $spacer-3
  margin-bottom: $spacer-3

.ml-3
  margin-left: $spacer-3

.mb-3
  margin-bottom: $spacer-3

.mb-4
  margin-bottom: $spacer-4

.ml-4
  margin-left: $spacer-4

.mb-5
  margin-bottom: $spacer-5

.ml-6
  margin-left: $spacer-6

.mb-6
  margin-bottom: $spacer-6

.mr-7
  margin-right: $spacer-7

.mb-7
  margin-bottom: $spacer-7

.ml-7
  margin-left: $spacer-7

.ml-8
  margin-left: $spacer-8

.mb-8
  margin-bottom: $spacer-8

.mb-9
  margin-bottom: $spacer-9

.mb-10
  margin-bottom: $spacer-10

.mt-11
  margin-top: $spacer-11

.mb-11
  margin-bottom: $spacer-11

.mb-12
  margin-bottom: $spacer-12

.mt-13
  margin-top: $spacer-13

.mb-13
  margin-bottom: $spacer-13

.pb-1
  padding-bottom: $spacer-1

.pb-2
  padding-bottom: $spacer-2

.px-3
  padding-left: $spacer-3
  padding-right: $spacer-3

.py-3
  padding-top: $spacer-3
  padding-bottom: $spacer-3

.py-4
  padding-top: $spacer-4
  padding-bottom: $spacer-4

.py-9
  padding-top: $spacer-9
  padding-bottom: $spacer-9

.pt-11
  padding-top: $spacer-11

.py-12
  padding-top: $spacer-12
  padding-bottom: $spacer-12

.pb-12
  padding-bottom: $spacer-12

.py-13
  padding-top: $spacer-13
  padding-bottom: $spacer-13

.pt-13
  padding-top: $spacer-13

+pad
  .mx-md-auto
    margin-left: auto
    margin-right: auto
  .ml-md-0
    margin-left: 0
  .my-md-2
    margin-top: $spacer-2
    margin-bottom: $spacer-2
  .mb-md-2
    margin-bottom: $spacer-2
  .mb-md-3
    margin-bottom: $spacer-3
  .ml-md-4
    margin-left: $spacer-4
  .mb-md-7
    margin-bottom: $spacer-7

+phone
  .ml-sm-0
    margin-left: 0
  .mb-sm-1
    margin-bottom: $spacer-1
  .mb-sm-6
    margin-bottom: $spacer-6
  .mb-sm-7
    margin-bottom: $spacer-7
  .mt-sm-8
    margin-top: $spacer-8
  .mt-sm-9
    margin-top: $spacer-9
  .mb-sm-9
    margin-bottom: $spacer-9
  .py-sm-7
    padding-top: $spacer-7
    padding-bottom: $spacer-7
  .pb-sm-9
    padding-bottom: $spacer-9
  .py-sm-9
    padding-top: $spacer-9
    padding-bottom: $spacer-9
