html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mt-1 {
  margin-top: 4px;
}

.ml-1 {
  margin-left: 4px;
}

.mx-2 {
  margin-left: 8px;
  margin-right: 8px;
}

.mr-2 {
  margin-right: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.ml-2 {
  margin-left: 8px;
}

.my-3 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.ml-3 {
  margin-left: 16px;
}

.mb-3 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 20px;
}

.ml-4 {
  margin-left: 20px;
}

.mb-5 {
  margin-bottom: 24px;
}

.ml-6 {
  margin-left: 28px;
}

.mb-6 {
  margin-bottom: 28px;
}

.mr-7 {
  margin-right: 32px;
}

.mb-7 {
  margin-bottom: 32px;
}

.ml-7 {
  margin-left: 32px;
}

.ml-8 {
  margin-left: 36px;
}

.mb-8 {
  margin-bottom: 36px;
}

.mb-9 {
  margin-bottom: 40px;
}

.mb-10 {
  margin-bottom: 48px;
}

.mt-11 {
  margin-top: 52px;
}

.mb-11 {
  margin-bottom: 52px;
}

.mb-12 {
  margin-bottom: 60px;
}

.mt-13 {
  margin-top: 80px;
}

.mb-13 {
  margin-bottom: 80px;
}

.pb-1 {
  padding-bottom: 4px;
}

.pb-2 {
  padding-bottom: 8px;
}

.px-3 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-3 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-9 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pt-11 {
  padding-top: 52px;
}

.py-12 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pb-12 {
  padding-bottom: 60px;
}

.py-13 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pt-13 {
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .mx-md-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .ml-md-0 {
    margin-left: 0;
  }
  .my-md-2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mb-md-2 {
    margin-bottom: 8px;
  }
  .mb-md-3 {
    margin-bottom: 16px;
  }
  .ml-md-4 {
    margin-left: 20px;
  }
  .mb-md-7 {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 576px) {
  .ml-sm-0 {
    margin-left: 0;
  }
  .mb-sm-1 {
    margin-bottom: 4px;
  }
  .mb-sm-6 {
    margin-bottom: 28px;
  }
  .mb-sm-7 {
    margin-bottom: 32px;
  }
  .mt-sm-8 {
    margin-top: 36px;
  }
  .mt-sm-9 {
    margin-top: 40px;
  }
  .mb-sm-9 {
    margin-bottom: 40px;
  }
  .py-sm-7 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .pb-sm-9 {
    padding-bottom: 40px;
  }
  .py-sm-9 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flew-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.justify-content-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .flex-md-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-md-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .justify-content-md-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .justify-content-md-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .justify-content-md-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .align-items-md-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .flex-sm-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-sm-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .justify-content-sm-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.col {
  width: 100%;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 16.6667%;
}

.col-3 {
  width: 23%;
}

.col-4 {
  width: 31.53%;
}

.col-5 {
  width: 41.667%;
}

.col-6 {
  width: 50%;
}

.col-6n {
  width: 47.8%;
}

.col-8 {
  width: 65.77%;
}

.col-9 {
  width: 74.32%;
}

.col-10 {
  width: 82.88%;
}

@media screen and (max-width: 768px) {
  .col-md-3 {
    width: 23%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-6n {
    width: 47.8%;
  }
  .col-md-8 {
    width: 65.77%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .col-sm-2 {
    width: 16.6667%;
  }
  .col-sm-3 {
    width: 23%;
  }
  .col-sm-4 {
    width: 31.53%;
  }
  .col-sm-9 {
    width: 74.32%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

.d-none {
  display: none;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

@media screen and (max-width: 768px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-inlineBlock {
    display: inline-block;
  }
  .d-md-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .d-sm-inlineBlock {
    display: inline-block;
  }
}

.hover-underline-primary {
  border-bottom: 2px solid transparent;
}

.hover-underline-primary:hover {
  border-color: #916000;
}

.hover-bg-primary:hover {
  background: #916000;
  border-color: #916000;
}

.hover-bg-secondary:hover {
  background: #AC8A46;
  border-color: #AC8A46;
}

.hover-bg-black:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}

.hover-text-primary:hover {
  color: #916000;
}

.hover-text-secondary:hover {
  color: #AC8A46;
}

.hover-shadow-primary {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.hover-shadow-primary:hover {
  -webkit-box-shadow: 3px 3px 3px 3px rgba(145, 96, 0, 0.2);
          box-shadow: 3px 3px 3px 3px rgba(145, 96, 0, 0.2);
  -webkit-transform: translate(-3px, -3px);
      -ms-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}

.hover-shadow-dark {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.hover-shadow-dark:hover {
  -webkit-box-shadow: 3px 3px 3px 3px rgba(170, 170, 170, 0.3);
          box-shadow: 3px 3px 3px 3px rgba(170, 170, 170, 0.3);
  -webkit-transform: translate(-3px, -3px);
      -ms-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}

.filter {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.bg {
  background-position: center center;
  background-size: cover;
}

.bg-menu {
  background: #916000;
}

.bg-banner {
  background-image: url(../img/banner.jpg);
}

.bg-subscribe {
  background-image: url(../img/subscribe.jpg);
}

.bg-lightgray {
  background: #E0E0E0;
}

.bg-overlay {
  background: #707070;
}

.bg-white {
  background: #fff;
}

.text-center {
  text-align: center;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-primary {
  color: #916000;
}

.text-secondary {
  color: #AC8A46;
}

.text-info {
  color: #8D8D8D;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fz-1 {
  font-size: 40px;
}

.fz-2 {
  font-size: 32px;
}

.fz-3 {
  font-size: 28px;
}

.fz-4 {
  font-size: 24px;
}

.fz-5 {
  font-size: 20px;
}

.fz-6 {
  font-size: 16px;
}

.fz-7 {
  font-size: 14px;
}

.fz-8 {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .fz-md-1 {
    font-size: 40px;
  }
  .fz-md-2 {
    font-size: 32px;
  }
  .fz-md-3 {
    font-size: 28px;
  }
  .fz-md-4 {
    font-size: 24px;
  }
  .fz-md-5 {
    font-size: 20px;
  }
  .fz-md-6 {
    font-size: 16px;
  }
  .fz-md-7 {
    font-size: 14px;
  }
  .fz-md-8 {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .fz-sm-1 {
    font-size: 40px;
  }
  .fz-sm-2 {
    font-size: 32px;
  }
  .fz-sm-3 {
    font-size: 28px;
  }
  .fz-sm-4 {
    font-size: 24px;
  }
  .fz-sm-5 {
    font-size: 20px;
  }
  .fz-sm-6 {
    font-size: 16px;
  }
  .fz-sm-7 {
    font-size: 14px;
  }
  .fz-sm-8 {
    font-size: 12px;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  font-family: "SF Pro Text", "PingFang TC", "Noto Sans TC", "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

input, select {
  outline: none;
  border: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

input::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #8D8D8D;
}

input::-moz-placeholder, select::-moz-placeholder {
  color: #8D8D8D;
}

input:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #8D8D8D;
}

input::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #8D8D8D;
}

input::placeholder, select::placeholder {
  color: #8D8D8D;
}

input::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #8D8D8D;
}

input::-moz-placeholder, select::-moz-placeholder {
  color: #8D8D8D;
}

input::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #8D8D8D;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.material-icons {
  vertical-align: middle;
  font-size: 20px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 345px;
    padding-left: 0;
    padding-right: 0;
  }
}

.container-fluid {
  width: 100%;
}

.row {
  width: 100%;
}

.card__title {
  font-size: 32px;
  font-weight: 700;
}

.card__subtitle {
  font-size: 24px;
  font-weight: 600;
}

.card__text {
  font-size: 20px;
  font-weight: 300;
}

.card__text-small {
  font-size: 16px;
  font-weight: 300;
}

.card__text-delete {
  text-decoration: line-through;
  color: #8D8D8D;
}

.card__link {
  color: #AC8A46;
}

.btn-rounded {
  border-radius: 30px;
  border: 2px solid;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}

.btn-light {
  color: #fff;
}

.btn-addToFav {
  cursor: pointer;
  color: #916000;
}

input, .btn, select {
  border-radius: 4px;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #8D8D8D;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus {
  -webkit-box-shadow: 0px 0px 3px 3px rgba(145, 96, 0, 0.4);
          box-shadow: 0px 0px 3px 3px rgba(145, 96, 0, 0.4);
}

input[type="button"], .btn {
  background: #916000;
  border: 1px solid #916000;
  color: #fff;
  cursor: pointer;
}

.input__group-text input,
.input__group-number input {
  border-color: #916000;
}

.input__group-text input:focus,
.input__group-text input:focus ~ input[type="button"],
.input__group-number input:focus,
.input__group-number input:focus ~ input[type="button"] {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input__group-text input[type="text"],
.input__group-text input[type="number"],
.input__group-number input[type="text"],
.input__group-number input[type="number"] {
  border-radius: 4px 0px 0px 4px;
}

.input__group-text input[type="button"],
.input__group-number input[type="button"] {
  border-radius: 0px 4px 4px 0px;
}

.input__group-text input {
  line-height: 24px;
  border-width: 2px;
}

.input__group-text input[type="text"] {
  padding: 18px 16px;
  width: 220px;
}

.input__group-text input[type="text"]::-webkit-input-placeholder {
  font-weight: medium;
}

.input__group-text input[type="text"]::-moz-placeholder {
  font-weight: medium;
}

.input__group-text input[type="text"]:-ms-input-placeholder {
  font-weight: medium;
}

.input__group-text input[type="text"]::-ms-input-placeholder {
  font-weight: medium;
}

.input__group-text input[type="text"]::placeholder {
  font-weight: medium;
}

.input__group-text input[type="button"] {
  padding: 18px 26px;
}

.input__group-number input[type="number"] {
  line-height: 18px;
  padding: 16px;
  width: 160px;
}

@media screen and (max-width: 576px) {
  .input__group-number input[type="number"] {
    width: 157px;
  }
}

.input__group-number input[type="button"] {
  line-height: 22px;
  padding: 14px 55px;
}

.input__group-login input[type="text"] {
  line-height: 19px;
  padding: 9.5px 12px;
  width: 100%;
}

.btn-wrap {
  margin-bottom: 106px;
}

.btn-wrap .link {
  color: #916000;
}

.btn-wrap .btn {
  display: inline-block;
  line-height: 22px;
  padding: 8px 16px;
}

.btn-wrap .btn__outline-primary {
  background: transparent;
  color: #916000;
}

.btn-wrap .btn__outline-primary:hover {
  background: #AC8A46;
  border-color: #AC8A46;
  color: #fff;
}

.input__group-member {
  color: #818A91;
}

.input__group-member .input__text, .input__group-member .select, .input__group-member .btn {
  line-height: 22px;
}

.input__group-member .input__text, .input__group-member .select {
  padding: 8px 10px;
  border: 1px solid #CED4DA;
}

.input__group-member .select {
  color: #818A91;
}

.input__group-member .btn {
  padding: 8px 48px;
  margin-left: 95px;
}

@media screen and (max-width: 576px) {
  .input__group-member .btn {
    margin-left: 90px;
  }
}

.input__group-member .label-checkbox {
  cursor: pointer;
}

.input__group-member .input__checkbox {
  display: none;
}

.input__group-member .input__checkbox + span:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #916000;
  border-radius: 4px;
  margin-right: 4px;
  top: 2px;
}

.input__group-member .input__checkbox:checked + span:before {
  content: "\2714";
  background: #916000;
  color: #fff;
  top: 2px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
}

.pagination__link {
  font-size: 20px;
  font-weight: 400;
}

.pagination__link-active {
  color: #AC8A46;
  border-bottom: 2px solid #AC8A46;
}

.nav__num {
  font-size: 8px;
  font-weight: 400;
  width: 16px;
  border-radius: 10px;
  background: #916000;
  color: #fff;
  text-align: center;
  position: absolute;
  top: -4px;
  right: -8px;
}

#navbar__toggler .material-icons {
  padding: 8px;
}

#burgerNav {
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 2;
}

#burgerNav a {
  border-bottom: 1px solid #fff;
}

#burgerNav.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 576px) {
  .subscribe {
    background-position: 0 0;
  }
}

.subscribe .container {
  height: 600px;
}

.subscribe__wrap {
  margin-bottom: 112px;
}

.subscribe__info {
  font-size: 32px;
  font-weight: 600;
  color: #8D8D8D;
}

footer {
  background: #916000;
  color: #fff;
}

footer__nav {
  font-size: 20px;
  font-weight: 400;
}

.copyright {
  font-size: 14px;
  font-weight: 500;
}

#overlay {
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner {
  color: #fff;
}

@media screen and (max-width: 576px) {
  .banner {
    background-position: 10% center;
  }
}

.banner .container {
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .banner .container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.salesInfo {
  color: #fff;
  position: absolute;
  top: 252px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.shopItems .material-icons {
  color: #916000;
  margin-right: 11px;
}

@media screen and (max-width: 576px) {
  .card__subtitle {
    font-size: 20px;
  }
}

.row {
  margin: 30px 0;
}

@media screen and (max-width: 576px) {
  .row {
    margin-bottom: 0;
  }
}

.product__title {
  font-size: 32px;
  font-weight: 700;
}

.product__subtitle {
  font-size: 16px;
  font-weight: 500;
}

.product__description, .product__price {
  font-size: 20px;
  font-weight: 300;
}

.product__price {
  margin-bottom: 12px;
}

.product__info {
  font-size: 16px;
  font-weight: 300;
}

.menu {
  color: #848484;
}

.menu .link {
  display: inline-block;
}

.menu .link-active {
  border-bottom: 2px solid #916000;
}

.title {
  border-bottom: 1px solid #818A91;
}

.shopInfo {
  color: #818a91;
}

.shopInfo .memberNumber {
  color: #8d8d8d;
}

.shopInfo .description {
  color: #a5a5a5;
}
/*# sourceMappingURL=all.css.map */