.input
  &__wrap
    +size(350px, 60px)
  &__text
    border: 2px solid $color-primary
    padding: 20px 16px
    height: 60px
  &__number
    border: 1px solid $color-primary
    border-radius: 4px 0 0 4px
    padding: 16px
    +font($fz-base)
    +size(160px, 50px)
  &__btn
    +size(130px, 60px)
    +font($fz-base, $fw-medium)
    border-radius: 0px 4px 4px 0px
    background: $color-primary
    color: #fff
    margin-left: -4px
    cursor: pointer
    &-lg
      +size(190px, 50px)

.select
  &__wrap
    height: 50px
    vertical-align: middle
