.input
  &__wrap
  &__text
    border: 2px solid $color-primary
    line-height: 24px
    padding: 18px 16px
    width: 220px
  &__number
    +font($fz-base)
    border: 1px solid $color-primary
    border-radius: 4px 0 0 4px
    padding: 16px
    line-height: 18px
    width: 160px
    +phone
      width: 157px
  &__btn
    +font($fz-base, $fw-medium)
    border: 2px solid $color-primary
    border-radius: 0px 4px 4px 0px
    background: $color-primary
    color: #fff
    line-height: 24px
    padding: 18px 26px
    margin-left: -4px
    &-lg
      line-height: 22px
      padding: 14px 55px

.select
  &__wrap
    vertical-align: middle
